POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme

DB_USER=changeme
DB_PASSWORD=changeme
DB_HOST=changeme
DB_PORT=changeme
DB_NAME=changeme

PORT=changeme

JWT_SECRET=changeme

ADMIN_USER=changeme
ADMIN_PASSWORD=changeme

FRONTEND_URL=changeme

VITE_API_URL=changeme
