@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-cinzel: "Cinzel", serif;
  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;
}
